#color-grid
  .color(style="background: var(--r3)")
  .color(style="background: var(--o3)")
  .color(style="background: var(--y3)")
  .color(style="background: var(--g3)")
  .color(style="background: var(--t3)")
  .color(style="background: var(--a3)")
  .color(style="background: var(--b3)")
  .color(style="background: var(--p3)")

  .color(style="background: var(--r2)")
  .color(style="background: var(--o2)")
  .color(style="background: var(--y2)")
  .color(style="background: var(--g2)")
  .color(style="background: var(--t2)")
  .color(style="background: var(--a2)")
  .color(style="background: var(--b2)")
  .color(style="background: var(--p2)")

  .color(style="background: var(--r1)")
  .color(style="background: var(--o1)")
  .color(style="background: var(--y1)")
  .color(style="background: var(--g1)")
  .color(style="background: var(--t1)")
  .color(style="background: var(--a1)")
  .color(style="background: var(--b1)")
  .color(style="background: var(--p1)")

  .color(style="background: var(--r0)")
  .color(style="background: var(--o0)")
  .color(style="background: var(--y0)")
  .color(style="background: var(--g0)")
  .color(style="background: var(--t0)")
  .color(style="background: var(--a0)")
  .color(style="background: var(--b0)")
  .color(style="background: var(--p0)")