.page
  .inner-page
    h3 Tags
    soci-tag wtf
    soci-tag(score="123") wtf
    soci-tag(color="r1" score="123" upvoted) wtf

    h3 Users
    soci-user(name="pwnies")
    soci-user(name="pwnies" op)
    soci-user(name="pwnies" admin)

    h3 Post List Item
  div(style="padding: 8px 0; background: var(--n1);")
    soci-post-li(score="1203" comments="23" title="In a love-hate relationship with my job plz - anyone got hot goss / tips?" time="1566246679167")
      soci-user(name="pwnies" slot="user")
      div(slot="tags")
        soci-tag test
        soci-tag(score="123") demo
        soci-tag(score="123") demo
    soci-post-li(score="0" comments="1" title="Cats found to have psychic powers, though they tend to not care enough to use them for the common good. Scientists baffled." type="image" time="1566251232926")
      soci-user(name="pwnies" slot="user")
      div(slot="tags" style="white-space: nowrap;")
        soci-tag test
        soci-tag(score="123") demo
        soci-tag(score="123") demo
        soci-tag(score="123") demo
        soci-tag(score="123") demo
  .inner-page
    h3 Post List 
  soci-post-list(data="data-example.json")

.page
  .inner-page
    h3 Column
  soci-column(filter="images", tag="photography")
