soci-sidebar(slot="sidebar")
soci-router
  soci-route(pattern="^#" title="tags")
    div(style="display: flex;")
      soci-column(filter="images", tag="funny", color="purple")
      soci-column(filter="images", tag="funny", color="red")
      soci-column(filter="images", tag="funny", color="orange")
  soci-route(pattern="^$" title="tags")
    div(style="display: flex;")
      h1 Home / Landing page
  soci-route(pattern="^#user$" title="tags")
    include user.pug