soci-column(filter="images", tag="photography")
soci-column(filter="images", tag="funny", color="red")
soci-column(filter="images", tag="funny", color="light-red")
soci-column(filter="images", tag="funny", color="orange")
soci-column(filter="images", tag="funny", color="light-orange")