soci-column(filter="images", tag="funny", color="purple")
soci-column(filter="images", tag="funny", color="red")
soci-column(filter="images", tag="funny", color="teal")
soci-column(filter="images", tag="funny", color="orange")