soci-router
  soci-sidebar
  #pages
    soci-route#tags(pattern="^#" title="tags")
      div(style="display: flex;")
        soci-column(filter="images", tag="funny", color="purple")
        soci-column(filter="images", tag="funny", color="red")
        soci-column(filter="images", tag="funny", color="orange")
    soci-route#home(pattern="^$" title="home")
      include pages/home.pug
    soci-route#user(pattern="^user$" title="user")
      include pages/user.pug