title soci
script(src="soci.js")
script(src="components/soci-components.js" type="module")
link(rel="stylesheet" href="soci-tokens.styl")
link(rel="stylesheet" href="soci.styl")

//-include components.pug
//include home.pug
//include user.pug
//-include colors.pug
soci-router
  soci-sidebar
  #pages
    soci-route#tags(pattern="^#")
      include pages/tags.pug
    soci-route#home(pattern="^$")
      include pages/home.pug
    soci-route#user(pattern="^user$")
      include pages/user.pug
    soci-route#post(pattern=".*")
      include pages/post.pug