title nonio
script(src="/soci.js")
script(src="/components/soci-components.js" type="module")
link(rel="stylesheet" href="/soci-tokens.styl")
link(rel="stylesheet" href="/soci.styl")

//-include components.pug
//include home.pug
//include user.pug
//-include colors.pug
include sidebar.pug
#pages
  soci-route#tags(test="both" path="^/#")
    include pages/tags.pug
  soci-route#home(path="^/$")
    include pages/home.pug
  soci-route#new-user(path="^/user/create")
    include pages/new-user.pug
  soci-route#user(path="/user")
    include pages/user.pug
  soci-route#submit(path="/submit")
    include pages/submit.pug
  soci-route#post(default)
    include pages/post.pug


script.
  soci.lazyload('/lib/quill.js')
