html(lang="en")
  title Nonio
  meta(http-equiv="content-type" content="text/html; charset=utf-8")
  link(rel="icon" type="image/svg+xml" href="/lib/favicon.svg")
  script(src="/soci.js" type="module")
  script(src="/lib/elementInternalsPolyfill.js")
  script(src="/components/soci-components.js" type="module")
  //-script(src="/blog-components/blog-components.js" type="module")
  script.
    let lazyload = (path, parent) => {
      document.addEventListener('DOMContentLoaded', ()=>{
        let resource = document.createElement('script')
        resource.async = 'true'
        resource.src = path
        let root = parent ? parent : document.head
        root.appendChild(resource)
      })
    }
  link(rel="stylesheet" href="/soci.styl")

  soci-sidebar(loading)
    div(slot="login")
      form
        input(type="email" placeholder="Email address" autocomplete="email")
        soci-password
        soci-button(async onclick="this.closest('soci-sidebar').login()") login
    tags(slot="tags")
  #pages
    soci-route#tags(test="both" path="^/#" fresh)
      include pages/tags.pug
    soci-route#home(test="both" path="^/$")
      include pages/home.pug
    soci-route#admin-create(path="/admin/create-account").admin-page
      include pages/admin-create.pug
    soci-route#admin-forgot-password(path="/admin/forgot-password").admin-page
      include pages/admin-forgot-password.pug
    soci-route#admin-change-forgotten-password(path="/admin/change-forgotten-password").admin-page
      include pages/admin-change-forgotten-password.pug
    soci-route#user(test="both" path="^/user/" fresh)
      include pages/user.pug
    soci-route#submit(path="/submit")
      include pages/submit.pug
    soci-route#admin-financials(path="/admin/financials").admin-page
      include pages/admin-financials.pug
    soci-route#admin-settings(path="/admin/settings").admin-page
      include pages/admin-settings.pug
    soci-route#post(default fresh)
      include pages/post.pug


  script.
    lazyload('/lib/quill.min.js')
