script(src="components/soci-components.js" type="module")
link(rel="stylesheet" href="soci-tokens.styl")
link(rel="stylesheet" href="soci.styl")

//include components.pug
include home.pug
//include colors.pug