html(lang="en")
  title nonio
  meta(http-equiv="content-type" content="text/html; charset=utf-8")
  script(src="/soci.js")
  script(src="/components/soci-components.js" type="module")
  script(src="/blog-components/blog-components.js" type="module")
  link(rel="stylesheet" href="/soci-tokens.styl")
  link(rel="stylesheet" href="/soci.styl")

  soci-sidebar(loading)
    div(slot="login")
      form
        input(type="email" placeholder="Email address" autocomplete="email")
        soci-password
        soci-button(async onclick="this.closest('soci-sidebar').login()") login
    tags(slot="tags")
  #pages
    soci-route#tags(test="both" path="^/#")
      include pages/tags.pug
    soci-route#home(test="both" path="^/$")
      include pages/home.pug
    soci-route#user(path="/user")
      include pages/user.pug
    soci-route#blog(path="/blog-test")
      include pages/blog-test.pug
    soci-route#submit(path="/submit")
      include pages/submit.pug
    soci-route#post(default fresh)
      include pages/post.pug


  script.
    soci.lazyload('/lib/quill.min.js')
