html(lang="en")
  title Nonio
  meta(http-equiv="content-type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" type="image/svg+xml" href="/lib/favicon.svg")
  script(src="/soci.js" type="module")
  script(src="/lib/elementInternalsPolyfill.js")
  script(src="/components/soci-components.js" type="module")
  script.
    let lazyload = (path, parent) => {
      document.addEventListener('DOMContentLoaded', ()=>{
        let resource = document.createElement('script')
        resource.async = 'true'
        resource.src = path
        let root = parent ? parent : document.head
        root.appendChild(resource)
      })
    }
  link(rel="stylesheet" href="/soci.styl")
  link(rel="stylesheet" href="/lib/quillStyle.css")

  soci-sidebar(loading)
    div(slot="login")
      form
        input(type="email" name="email" placeholder="Email address" autocomplete="email")
        soci-password(name="password")
        soci-button(async onclick="this.closest('soci-sidebar').login()") login
    div(slot="create")
      form
        h2 Essentials
        soci-username-input(name="username" tabindex="0")
        input(type="email" name="email" placeholder="Email address")
        soci-password(tabindex="0" name="password")
        soci-password(tabindex="0" name="confirmPassword" placeholder="Confirm Password" match="password")
        soci-button(async onclick="this.closest('soci-sidebar').register()") Create Account
    tags(slot="tags")
  #pages
    soci-route#tags(test="both" path="(^/#)|(^/$)" fresh)
      include pages/tags.pug
    soci-route#admin-create(path="/admin/create-account").admin-page
      include pages/admin/create.pug
    soci-route#admin-first-time-signup(path="/admin/first-time-signup" fresh).admin-page
      include pages/admin/first-time-signup.pug
    soci-route#admin-forgot-password(path="/admin/forgot-password").admin-page
      include pages/admin/forgot-password.pug
    soci-route#admin-change-forgotten-password(path="/admin/change-forgotten-password").admin-page
      include pages/admin/change-forgotten-password.pug
    soci-route#user(test="both" path="^/user/" fresh)
      include pages/user.pug
    soci-route#submit(path="/submit")
      include pages/submit.pug
    soci-route#admin-financials(path="/admin/financials").admin-page
      include pages/admin/financials.pug
    soci-route#about(path="/about")
      include pages/about/about.pug
    soci-route#privacy-policy(path="/about/privacy-policy")
      include pages/about/privacy-policy.pug
    soci-route#contact(path="/about/contact")
      include pages/about/contact.pug
    soci-route#admin-settings(path="/admin/settings").admin-page
      include pages/admin/settings.pug
    soci-route#post(default fresh)
      include pages/post.pug


  script.
    lazyload('/lib/quill.min.js')
  <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>



