soci-sidebar(loading)
  div(slot="login")
    <input type="email" placeholder="Email address"/>
    <soci-password></soci-password>
    <soci-button async onclick="this.closest('soci-sidebar').login()">login</soci-button>
  </form>
  tags(slot="tags")