:root {
  --n0: #fff;
  --n1: #f0f4f0;
  --n2: #d9d9d9;
  --n3: #7e8b87;
  --n4: #232f34;
  --z0: #fff;
  --z1: #eaebeb;
  --z2: #d6d7d8;
  --z3: #c2c3c4;
  --z4: #aeb0b1;
  --z5: #696d70;
  --z6: #3a3e41;
  --z7: #2b2f33;
  --z8: #1c2024;
  --z9: #0d1216;
  --r3: #b63535;
  --r2: #cd3232;
  --r1: #f66;
  --r0: #ff9b99;
  --o3: #ff5e24;
  --o2: #ff7a33;
  --o1: #ff9c33;
  --o0: #ffdba8;
  --y3: #cfc120;
  --y2: #e6d72d;
  --y1: #ebeb60;
  --y0: #f6fac2;
  --l3: #0e6600;
  --l2: #129e00;
  --l1: #3ee029;
  --l0: #9ef788;
  --g3: #008046;
  --g2: #009e57;
  --g1: #29e08e;
  --g0: #88f7bc;
  --t3: #008cb3;
  --t2: #00bad6;
  --t1: #00dfeb;
  --t0: #94fffa;
  --a3: #0075a3;
  --a2: #0096db;
  --a1: #00bcf5;
  --a0: #80e5ff;
  --b3: #1357a0;
  --b2: #1e72d2;
  --b1: #319ef2;
  --b0: #8fcafa;
  --p3: #344598;
  --p2: #4e5ab7;
  --p1: #777fda;
  --p0: #acb0ec;
  --anim-duration-short: 0s;
  --anim-duration-med: 0s;
  --anim-duration-long: 0s;
  --soci-ease-in: cubic-bezier(1, 0, 0.85, 1);
  --soci-ease-out: cubic-bezier(0.25, 0, 0, 1);
  --soci-ease: cubic-bezier(0.65, 0, 0.35, 1);
  --soci-blog-padding: 32px;
  --soci-blog-width: 920px;
  --shadow-light: rgba(0,5,5,0.1);
  --shadow: rgba(0,5,5,0.2);
  --shadow-dark: rgba(0,5,5,0.3);
  --bg: var(--z0);
  --bg-hover: var(--bg);
  --bg-active: var(--bg);
  --bg-secondary: var(--bg);
  --bg-secondary-hover: var(--bg-secondary);
  --bg-secondary-active: var(--bg-secondary);
  --bg-bold: var(--bg);
  --bg-bold-hover: var(--bg-bold);
  --bg-bold-active: var(--bg-bold);
  --bg-inverse: var(--bg);
  --bg-inverse-hover: var(--bg-inverse);
  --bg-inverse-active: var(--bg-inverse);
  --text: var(--z8);
  --text-hover: var(--text);
  --text-active: var(--text);
  --text-secondary: var(--text);
  --text-secondary-hover: var(--text-secondary);
  --text-secondary-active: var(--text-secondary);
  --text-tertiary: var(--text-secondary);
  --text-bold: var(--text);
  --text-bold-hover: var(--text-bold);
  --text-bold-active: var(--text-bold);
  --text-inverse: var(--text);
  --text-inverse-hover: var(--text-inverse);
  --text-inverse-active: var(--text-inverse);
  --border: var(--z2);
  --border-brand: var(--border);
  --border-brand-secondary: var(--border-brand);
  --bg-brand: var(--b1);
  --bg-brand-hover: var(--bg-brand);
  --bg-brand-active: var(--bg-brand);
  --bg-brand-secondary: var(--bg-brand);
  --bg-brand-secondary-hover: var(--bg-brand-secondary);
  --bg-brand-secondary-active: var(--bg-brand-secondary);
  --bg-brand-bold: var(--bg-brand);
  --bg-brand-bold-hover: var(--bg-brand-bold);
  --bg-brand-bold-active: var(--bg-brand-bold);
  --bg-brand-inverse: var(--bg-brand);
  --bg-brand-inverse-hover: var(--bg-brand-inverse);
  --bg-brand-inverse-active: var(--bg-brand-inverse);
  --text-brand: var(--b3);
  --text-brand-hover: var(--text-brand);
  --text-brand-active: var(--text-brand);
  --text-brand-secondary: var(--text-brand);
  --text-brand-secondary-hover: var(--text-brand-secondary);
  --text-brand-secondary-active: var(--text-brand-secondary);
  --text-brand-bold: var(--text-brand);
  --text-brand-bold-hover: var(--text-brand-bold);
  --text-brand-bold-active: var(--text-brand-bold);
  --text-brand-inverse: var(--text-brand);
  --text-brand-inverse-hover: var(--text-brand-inverse);
  --text-brand-inverse-active: var(--text-brand-inverse);
  --bg-success: var(--g1);
  --bg-success-hover: var(--bg-success);
  --bg-success-active: var(--bg-success);
  --bg-success-secondary: var(--bg-success);
  --bg-success-secondary-hover: var(--bg-success-secondary);
  --bg-success-secondary-active: var(--bg-success-secondary);
  --bg-success-bold: var(--bg-success);
  --bg-success-bold-hover: var(--bg-success-bold);
  --bg-success-bold-active: var(--bg-success-bold);
  --bg-success-inverse: var(--bg-success);
  --bg-success-inverse-hover: var(--bg-success-inverse);
  --bg-success-inverse-active: var(--bg-success-inverse);
  --text-success: var(--g3);
  --text-success-hover: var(--text-success);
  --text-success-active: var(--text-success);
  --text-success-secondary: var(--text-success);
  --text-success-secondary-hover: var(--text-success-secondary);
  --text-success-secondary-active: var(--text-success-secondary);
  --text-success-bold: var(--text-success);
  --text-success-bold-hover: var(--text-success-bold);
  --text-success-bold-active: var(--text-success-bold);
  --text-success-inverse: var(--text-success);
  --text-success-inverse-hover: var(--text-success-inverse);
  --text-success-inverse-active: var(--text-success-inverse);
  --bg-danger: var(--r1);
  --bg-danger-hover: var(--bg-danger);
  --bg-danger-active: var(--bg-danger);
  --bg-danger-secondary: var(--bg-danger);
  --bg-danger-secondary-hover: var(--bg-danger-secondary);
  --bg-danger-secondary-active: var(--bg-danger-secondary);
  --bg-danger-bold: var(--bg-danger);
  --bg-danger-bold-hover: var(--bg-danger-bold);
  --bg-danger-bold-active: var(--bg-danger-bold);
  --bg-danger-inverse: var(--bg-danger);
  --bg-danger-inverse-hover: var(--bg-danger-inverse);
  --bg-danger-inverse-active: var(--bg-danger-inverse);
  --text-danger: var(--r3);
  --text-danger-hover: var(--text-danger);
  --text-danger-active: var(--text-danger);
  --text-danger-secondary: var(--text-danger);
  --text-danger-secondary-hover: var(--text-danger-secondary);
  --text-danger-secondary-active: var(--text-danger-secondary);
  --text-danger-bold: var(--text-danger);
  --text-danger-bold-hover: var(--text-danger-bold);
  --text-danger-bold-active: var(--text-danger-bold);
  --text-danger-inverse: var(--text-danger);
  --text-danger-inverse-hover: var(--text-danger-inverse);
  --text-danger-inverse-active: var(--text-danger-inverse);
  --bg-warning: var(--r1);
  --bg-warning-hover: var(--bg-warning);
  --bg-warning-active: var(--bg-warning);
  --bg-warning-secondary: var(--bg-warning);
  --bg-warning-secondary-hover: var(--bg-warning-secondary);
  --bg-warning-secondary-active: var(--bg-warning-secondary);
  --bg-warning-bold: var(--bg-warning);
  --bg-warning-bold-hover: var(--bg-warning-bold);
  --bg-warning-bold-active: var(--bg-warning-bold);
  --bg-warning-inverse: var(--bg-warning);
  --bg-warning-inverse-hover: var(--bg-warning-inverse);
  --bg-warning-inverse-active: var(--bg-warning-inverse);
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--z0);
    --bg-hover: var(--z1);
    --bg-secondary: var(--z1);
    --bg-secondary-hover: var(--z2);
    --bg-tertiary: var(--z2);
    --bg-tertiary-hover: var(--z3);
    --bg-inverse: var(--z5);
    --bg-bold: var(--z2);
    --bg-elevation-tint: rgba(0,0,0,0.063);
    --bg-elevation-tint-hover: rgba(0,0,0,0.125);
    --text: var(--z8);
    --text-secondary: var(--z5);
    --text-secondary-hover: var(--z8);
    --text-tertiary: var(--z4);
    --text-bold: var(--z9);
    --text-inverse: var(--z0);
    --border: var(--z2);
    --border-brand: var(--b1);
    --border-brand-secondary: rgba(19,87,160,0.251);
    --bg-brand: var(--b2);
    --bg-brand-hover: var(--b3);
    --bg-brand-bold: var(--b3);
    --bg-brand-secondary: rgba(19,87,160,0.125);
    --bg-brand-secondary-hover: rgba(19,87,160,0.188);
    --text-brand: var(--b2);
    --text-brand-hover: var(--b3);
    --text-brand-bold: var(--b3);
    --bg-success: var(--g2);
    --bg-success-secondary: rgba(41,224,142,0.188);
    --text-success: var(--g3);
    --text-success-secondary: var(--g1);
    --bg-danger: var(--r2);
    --bg-danger-hover: var(--r3);
    --bg-danger-secondary: rgba(196,8,8,0.188);
    --text-danger: var(--r2);
    --text-danger-hover: var(--r3);
    --bg-warning: var(--y2);
    --bg-warning-hover: var(--y1);
    --bg-warning-secondary: rgba(235,235,96,0.188);
    --text-warning: var(--y2);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--z8);
    --bg-hover: var(--z7);
    --bg-secondary: var(--z7);
    --bg-secondary-hover: var(--z6);
    --bg-tertiary: var(--z6);
    --bg-tertiary-hover: var(--z5);
    --bg-inverse: var(--z3);
    --bg-bold: var(--z9);
    --bg-elevation-tint: rgba(255,255,255,0.063);
    --bg-elevation-tint-hover: rgba(255,255,255,0.125);
    --text: var(--z2);
    --text-secondary: var(--z4);
    --text-secondary-hover: var(--z2);
    --text-tertiary: var(--z5);
    --text-bold: var(--z0);
    --text-inverse: var(--z9);
    --border: var(--z6);
    --border-brand: var(--b1);
    --border-brand-secondary: rgba(19,87,160,0.251);
    --bg-brand: var(--b1);
    --bg-brand-hover: var(--b0);
    --bg-brand-bold: var(--b0);
    --bg-brand-secondary: rgba(19,87,160,0.188);
    --bg-brand-secondary-hover: rgba(19,87,160,0.251);
    --text-brand: var(--b1);
    --text-brand-hover: var(--b0);
    --text-brand-bold: var(--b0);
    --bg-success: var(--g1);
    --bg-success-secondary: rgba(41,224,142,0.188);
    --text-success: var(--g1);
    --bg-danger: var(--r1);
    --bg-danger-hover: var(--r0);
    --bg-danger-secondary: rgba(196,8,8,0.188);
    --text-danger: var(--r1);
    --text-danger-hover: var(--r0);
    --bg-warning: var(--y2);
    --bg-warning-hover: var(--y1);
    --bg-warning-secondary: rgba(235,235,96,0.188);
    --text-warning: var(--y2);
    --shadow-light: rgba(0,5,5,0.25);
    --shadow: rgba(0,5,5,0.8);
    --shadow-dark: rgba(0,5,5,0.6);
  }
}
#admin-subscribe {
  background: var(--bg-bold);
  height: 100%;
  overflow-y: auto;
}
#admin-subscribe[active] {
  display: block;
}
#admin-subscribe .columns {
  display: flex;
  margin: 40px -20px 0;
  width: calc(100% + 40px);
  align-items: flex-start;
}
#admin-subscribe .column {
  border: 1px solid var(--bg-secondary);
  border-radius: 4px;
  width: 100%;
  box-shadow: 0 2px 8px var(--shadow);
  background: var(--bg);
  position: relative;
  overflow: hidden;
  transition: height 0.2s var(--soci-ease);
}
#admin-subscribe .column:first-child {
  margin-right: 10px;
}
#admin-subscribe .column.supporter[active] .features {
  opacity: 0;
  transition: all var(--anim-duration-med) var(--soci-ease);
  pointer-events: none;
}
#admin-subscribe .column.supporter[active] .payment {
  opacity: 1;
  pointer-events: all;
  user-select: all;
  transform: translateY(0px);
}
#admin-subscribe h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: normal;
  margin-top: 20px;
}
#admin-subscribe .features {
  opacity: 1;
}
#admin-subscribe .payment {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  transition: all var(--anim-duration-med) var(--soci-ease) var(--anim-duration-short);
  padding: 10px 20px;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  width: 100%;
  transform: translateY(10px);
}
#admin-subscribe #card-element {
  border-bottom: 2px solid var(--bg-secondary);
  height: 38px;
  margin-bottom: 10px;
}
#admin-subscribe .price-container {
  position: relative;
  padding: 0 20px 10px;
  border-bottom: 1px solid var(--bg-secondary);
}
#admin-subscribe .price-container soci-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#admin-subscribe .title {
  padding: 10px 20px 0;
}
#admin-subscribe .title p {
  color: var(--text-secondary);
  height: 80px;
}
#admin-subscribe h2 {
  color: var(--text-bold);
  margin-bottom: 4px;
}
#admin-subscribe .price {
  font-size: 44px;
  font-weight: bold;
  color: var(--text-brand);
}
#admin-subscribe .price span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-secondary);
}
#admin-subscribe ul {
  list-style: none;
  padding: 0 20px;
}
#admin-subscribe li {
  position: relative;
  line-height: 24px;
  padding-left: 20px;
}
#admin-subscribe li.cant {
  color: var(--text-secondary);
  text-decoration: line-through;
}
#admin-subscribe li.cant:after,
#admin-subscribe li.cant:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  transform: rotate(45deg);
  left: 0;
  top: calc(50% - 1px);
  background: var(--text-danger);
}
#admin-subscribe li.cant:before {
  transform: rotate(-45deg);
}
#admin-subscribe li.can:after,
#admin-subscribe li.can:before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  background: var(--text-success);
  height: 5px;
  top: calc(50% - 2px);
  left: 0;
  transform: rotate(-45deg);
}
#admin-subscribe li.can:after {
  height: 9px;
  top: calc(50% - 5px);
  left: 4px;
  transform: rotate(45deg);
}
#admin-subscribe form soci-button {
  margin: 24px 0 8px;
}
body {
  margin: 0;
  display: flex;
  background: var(--bg);
  scrollbar-width: none;
  font-size: 14px;
}
body[dragging] {
  user-select: none;
}
body[noauth] soci-sidebar {
  left: -280px;
  transition: none;
}
body[noauth] #pages {
  margin-left: 0;
  width: 100vw;
  transition: none;
}
body[noauth] #pages:before {
  left: 0;
  opacity: 0;
  transition: none;
  animation: none;
}
input,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text);
}
input:-internal-autofill-selected,
input:-webkit-autofill {
  background: var(--bg) !important;
  color: var(--text);
}
h1:first-child {
  margin-top: 0;
}
h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
}
h3 {
  font-size: 1.17em;
}
p {
  margin: 0;
}
p + h1,
p + h2,
p + h3 {
  margin-top: 1em;
}
a {
  color: var(--text-brand);
  text-decoration: none;
}
a:hover {
  color: var(--text-brand-hover);
}
button {
  border: 0;
  border-radius: 3px;
  background: var(--bg-brand);
  height: 20px;
  color: var(--text-inverse);
  padding: 0 8px;
  font-size: 12px;
  margin-right: 4px;
  cursor: pointer;
}
button.cancel {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}
button.cancel:hover {
  background: var(--bg-secondary-hover);
  color: var(--text-secondary-hover);
}
button:hover {
  background: var(--bg-brand-hover);
}
button:active {
  filter: brightness(0.9);
  outline: 0;
}
button:focus {
  outline: var(--bg-brand-bold) auto 2px;
}
#pages {
  height: 100dvh;
  width: calc(100vw - 280px);
  position: relative;
  margin-left: 280px;
}
#pages:before {
  content: '';
  position: fixed;
  top: 0;
  left: 280px;
  height: 100dvh;
  width: 30px;
  background: linear-gradient(90deg, var(--shadow) 0px, var(--shadow-light) 1px, transparent 4px);
  z-index: 11;
  pointer-events: none;
  transition: all 0.2s var(--soci-ease);
}
#home {
  transition: all var(--anim-duration-med) var(--soci-ease), height 0s linear;
  display: none;
}
#home[active] {
  display: contents;
}
#home #home-container {
  width: 100%;
  min-width: 1160px;
  margin: 0 auto;
}
#home #home-container .inner-container {
  padding: 32px 54px;
  max-width: 1200px;
  margin: 0 auto;
}
#home .header-container {
  background: radial-gradient(farthest-corner at 10% 50%, #1e72d2 30%, #073f80);
  position: relative;
  overflow: hidden;
}
#home .header-container .page-cut {
  position: relative;
  z-index: 2;
  filter: drop-shadow(0px -4px 8px rgba(7,14,23,0.251));
}
#home .header-container img {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 80px;
  max-width: calc(max(min(100vw - 1000px, 600px), 440px));
  box-shadow: 0 0 80px #073f80;
  border-radius: 6px 0 0 6px;
}
#home .account-actions {
  position: absolute;
  top: 28px;
  right: 54px;
}
#home .account-actions soci-button {
  margin-left: 4px;
  background: transparent;
  font-weight: 700;
}
#home .account-actions soci-button:hover {
  background: var(--bg-brand);
}
#home .account-actions .primary {
  background: var(--bg-brand);
}
#home .account-actions .primary:hover {
  filter: brightness(1.1) saturate(0.9);
}
#home .header {
  color: var(--text-inverse);
}
#home .header .left-block {
  max-width: 600px;
}
#home .header svg {
  opacity: 0.5;
  width: 100px;
  margin-bottom: 32px;
}
#home .header h1 {
  font-size: 80px;
  line-height: 80px;
  margin-left: -4px;
}
#home .header p {
  font-size: 24px;
  opacity: 0.8;
}
#home h2 {
  font-weight: bold;
}
#home .divider {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #319ef2, #106fb9);
  margin-bottom: 48px;
}
#home .columns {
  display: flex;
}
#home .columns .divider {
  width: 100px;
  margin-bottom: 8px;
}
#home .columns .column {
  width: 100%;
  margin-left: 20px;
}
#home .columns .column:first-child {
  margin-left: 0;
}
#home .type-examples {
  margin: 0 -48px;
  width: calc(100% + 96px);
}
#user {
  min-width: 420px;
  overflow: hidden;
}
#user[active] {
  display: flex;
}
#user .sidebar {
  padding: 30px 46px 30px 50px;
  border-right: 4px solid var(--bg);
  box-sizing: border-box;
  overflow-y: auto;
  width: 400px;
  min-width: 400px;
  height: 100dvh;
  position: relative;
  z-index: 1;
  box-shadow: 1px 0 5px var(--shadow);
}
#user .sidebar soci-link {
  display: block;
  width: 100%;
}
#user .sidebar soci-button {
  width: 100%;
  margin: 0 0 16px 0;
  float: none;
}
#user .sidebar soci-button svg {
  margin-right: 4px;
  position: relative;
  top: 1.5px;
}
#user .stats {
  border: 1px solid var(--bg-secondary);
  border-radius: 8px;
  margin-bottom: 16px;
}
#user .stats .stat {
  display: flex;
  border-bottom: inherit;
  padding: 8px 12px;
}
#user .stats label {
  flex: 1;
  font-weight: 600;
}
#user .stats .value {
  flex: 1;
  text-align: right;
}
#user .self-actions,
#user .admin-actions {
  display: none;
  gap: 8px;
}
#user .self-actions[active],
#user .admin-actions[active] {
  display: flex;
}
#user .hero {
  margin-bottom: 16px;
}
#user .hero .description {
  text-align: justify;
}
#user soci-user[avatar-only] {
  --avatar-size: 220px;
  display: block;
  width: 220px;
  height: 220px;
  background: var(--bg-secondary);
  border-radius: 50%;
  margin: 0 auto 8px;
}
#user soci-user[username-only] {
  margin-bottom: 8px;
  display: block;
}
#user .content,
#notifications .content {
  width: 100%;
  background: var(--bg-bold);
  height: 100dvh;
  overflow: hidden;
}
#user .content header,
#notifications .content header {
  background-color: var(--bg);
  position: sticky;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 2;
  display: block;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px var(--shadow);
  justify-content: space-between;
  user-select: none;
}
#user .content header .types,
#notifications .content header .types,
#user .content header .sorts,
#notifications .content header .sorts {
  display: flex;
}
#user .content header .type,
#notifications .content header .type,
#user .content header .sort,
#notifications .content header .sort {
  text-transform: capitalize;
  position: relative;
  padding: 0px 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  z-index: 2;
  border-radius: 3px;
  color: var(--text-secondary);
}
#user .content header .type:hover,
#notifications .content header .type:hover,
#user .content header .sort:hover,
#notifications .content header .sort:hover {
  color: var(--text-secondary-hover);
}
#user .content header .type[selected],
#notifications .content header .type[selected],
#user .content header .sort[selected],
#notifications .content header .sort[selected] {
  opacity: 1;
  color: var(--text-brand-bold);
  background: var(--bg-secondary);
}
#user .content header .type[selected]::after,
#notifications .content header .type[selected]::after,
#user .content header .sort[selected]::after,
#notifications .content header .sort[selected]::after {
  content: '';
  display: block;
  position: absolute;
  top: 29px;
  left: calc(50% - 8px);
  width: 16px;
  height: 3px;
  border-radius: 0 0 2px 2px;
  background: var(--bg);
  box-shadow: 0 1px 1px var(--shadow);
}
#user .content header .type:before,
#notifications .content header .type:before,
#user .content header .sort:before,
#notifications .content header .sort:before {
  position: absolute;
  content: '';
  left: 0;
  top: -10px;
  height: 40px;
  width: 100%;
  background: transparent;
}
#user .content .inner-content,
#notifications .content .inner-content {
  height: 100%;
  overflow-y: auto;
}
.info-page {
  padding: 28px 40px;
  max-width: 800px;
  margin: 0 auto;
}
.admin-page .content {
  padding: 28px 40px;
  max-width: 800px;
  margin: 0 auto;
}
.admin-page .container {
  padding: 24px 50px;
}
.admin-page soci-input {
  border: 1px solid var(--bg-secondary);
  border-radius: 3px;
  --min-height: 240px;
}
.admin-page .blocks {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 40px);
}
.admin-page .blocks .block {
  min-width: 240px;
  width: 100%;
  flex: 1;
  margin-right: 40px;
  margin-bottom: 20px;
}
.admin-page .blocks .block.avatar {
  max-width: 420px;
  flex: 1;
}
.admin-page .blocks .block.description {
  min-width: 380px;
  flex: 2;
}
.admin-page .blocks .block h2 {
  margin-bottom: 0;
}
.admin-page h1.cash {
  font-size: 60px;
  margin: 0;
  color: var(--text-success);
}
.admin-page .cc-details {
  display: flex;
}
.admin-page .cc-details input:first-child {
  min-width: 160px;
  margin-right: 12px;
}
.admin-page input {
  margin: 0 0 8px;
  border: 0;
  border-bottom: 2px solid var(--bg-secondary);
  background: var(--bg);
  height: 38px;
  font-size: 14px;
  width: 100%;
}
.admin-page input:focus {
  border-bottom: 2px solid var(--bg-brand);
  outline: 0;
}
.admin-page input::placeholder {
  color: var(--text-secondary);
}
.admin-page .actions {
  width: 100%;
  justify-content: flex-end;
  display: flex;
  margin-top: 8px;
}
.admin-page .actions button:last-child {
  margin-right: 0;
}
.admin-page h2 {
  margin-top: 0;
}
#admin-financials a soci-button.dashboard-link {
  position: absolute;
  top: 10px;
  right: 0;
  margin-right: 0;
}
#admin-financials p {
  margin-bottom: 24px;
}
#admin-financials .button-group {
  display: flex;
}
#admin-financials .button-group soci-button {
  float: none;
  margin-right: 6px;
}
#admin-financials .cash {
  margin-bottom: 12px;
}
#admin-financials #financial-subscription .cash {
  color: var(--text-brand);
}
#admin-financials #financial-subscription .cash span {
  color: var(--text-secondary);
  font-size: 24px;
  font-weight: 100;
}
#admin-financials soci-modal soci-user {
  display: inline-block;
  --font-size: 14px;
  --avatar-size: 14px;
  --line-height: 14px;
  --spacing: 6px;
  transform: translateY(2px);
}
#admin-financials soci-modal p {
  margin-bottom: 12px;
}
#admin-financials table {
  text-align: left;
  vertical-align: top;
  width: calc(100% + 2px);
  margin-left: -1px;
  border-radius: 4px;
  margin-bottom: 12px;
  font-size: 16px;
  border-spacing: 0;
  padding: 0;
  background: var(--bg-secondary);
}
#admin-financials table th,
#admin-financials table td {
  padding: 8px 12px;
}
#admin-financials table th {
  border-bottom: 1px solid var(--bg);
}
#admin-financials table td:not(:last-child),
#admin-financials table th:not(:last-child) {
  border-right: 1px solid var(--bg);
}
#admin-financials soci-input {
  --min-height: 100px;
  margin-bottom: 12px;
  width: calc(100% + 2px);
  margin-left: -1px;
}
#admin-financials soci-button {
  margin-right: 0;
}
#admin-change-forgotten-password .success {
  transform: translateY(20px);
  opacity: 0;
}
#admin-change-forgotten-password[success] .loading-block {
  display: none;
}
#admin-change-forgotten-password[success] .success {
  transform: translateY(0px);
  opacity: 1;
  display: block;
}
@media screen and (max-width: 968px) {
  #user .stats {
    margin-top: 12px;
  }
}
#tags {
  scroll-snap-type: x proximity;
  scroll-padding: 16px;
  overflow-y: hidden;
}
#tags soci-column {
  transform: translateY(10px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-out;
  margin-right: 1px;
}
#tags soci-column:last-of-type {
  margin-right: 0;
}
#tags[active] {
  display: flex;
  width: 100%;
  height: 100dvh;
  overflow: auto;
}
#tags[active] soci-column {
  transform: translateY(0);
  opacity: 1;
}
#tags[active] soci-column:nth-child(2) {
  transition-delay: 0.1s;
}
#tags[active] soci-column:nth-child(3) {
  transition-delay: 0.2s;
}
#tags[active] soci-column:nth-child(4) {
  transition-delay: 0.3s;
}
#tags[active] soci-column.inserting {
  opacity: 0;
  margin-left: -416px;
}
#submit-container {
  box-sizing: border-box;
}
#submit-container h1,
#submit-container h2 {
  margin: 0;
  padding-left: 2px;
}
#submit-container soci-url-input {
  margin-bottom: 12px;
}
#submit-container soci-button {
  margin-top: 8px;
}
#submit-container label {
  cursor: inherit;
}
#submit-container .centered-container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 40px;
}
#submit-container input {
  text-decoration: inherit;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 0;
  font-size: 14px;
  width: 100%;
  background: transparent;
  color: inherit;
}
#submit-container input::placeholder {
  font-weight: normal;
  text-transform: none;
  opacity: 0.5;
  font-size: 14px;
}
#submit-container input[name="title"] {
  font-size: 32px;
  margin-bottom: 24px;
  padding-left: 2px;
}
#submit-container input[name="title"]::placeholder {
  font-size: 32px;
}
#submit-container soci-icon {
  pointer-events: none;
  position: absolute;
  right: 2px;
}
#submit-container .preview {
  overflow: hidden;
  height: 0;
  margin: 0 -20px;
  padding: 0 20px;
  transition: all 0.1s var(--soci-ease);
}
#submit-container .preview.active {
  height: 168px;
  margin-bottom: -8px;
}
#submit-container #submit-header,
#submit-container #submit-actions {
  max-width: 920px;
  margin: 0 auto;
}
#submit-container #submit-header {
  padding: 24px 40px;
}
#submit-container soci-tab soci-input {
  width: 100%;
  --min-height: 240px;
}
#submit-container soci-tab[name="Blog"] soci-input {
  --min-height: 550px;
}
#submit-container soci-tab[name="HTML"] {
  max-width: 100%;
}
#submit-container soci-tab[name="HTML"] soci-input {
  max-width: 920px;
  margin: 0 auto;
}
#submit-container soci-input {
  border: 2px solid var(--bg-secondary);
  border-radius: 8px;
}
#submit-container h2 {
  font-weight: 500;
  margin-top: 36px;
  margin-bottom: 12px;
}
#submit-container .tags {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 36px;
  grid-column-gap: 10px;
}
#submit-container .tags soci-tag-input {
  flex: 1;
  --tag-height: 30px;
}
soci-sidebar {
  left: 0;
  transition: left 0.2s ease;
  z-index: 3;
  background: var(--bg);
}
soci-sidebar[loading] {
  opacity: 0;
}
soci-sidebar input:-webkit-autofill,
soci-sidebar input:-webkit-autofill:focus,
soci-sidebar input:-webkit-autofill:hover,
soci-sidebar input {
  margin: 0 0 8px;
  border: 0;
  border-bottom: 2px solid var(--bg-secondary);
  background: var(--bg) !important;
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 30px var(--bg) inset;
  height: 38px;
  font-size: 14px;
  width: 100%;
}
soci-sidebar input::placeholder {
  text-transform: none;
  font-size: 14px;
  opacity: 0.5;
}
soci-sidebar input:focus,
soci-sidebar input:active {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid var(--bg-brand);
}
soci-sidebar h2 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: normal;
  color: var(--text-secondary);
}
soci-sidebar button {
  margin-top: 8px;
  border-radius: 16px;
  height: 32px;
  outline: 0;
  border: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  border: 1px solid var(--bg-secondary);
  background: var(--bg);
  cursor: pointer;
  position: relative;
}
soci-sidebar button svg {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 4px;
  top: 3px;
  display: none;
}
soci-sidebar button:hover {
  border: 1px solid var(--bg-secondary-hover);
  background: var(--bg-hover);
}
soci-sidebar button[waiting] svg {
  display: block;
}
soci-sidebar form {
  display: flex;
  flex-direction: column;
}
soci-sidebar h2:not(:first-child) {
  margin-top: 50px;
}
soci-sidebar soci-button {
  margin-top: 16px;
  align-self: flex-end;
}
soci-sidebar cc-details {
  display: flex;
}
soci-sidebar cc-details input:first-child {
  min-width: 160px;
  margin-right: 12px;
}
[load-order] {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.15, 0, 0, 1), opacity 0.3s var(--soci-ease);
}
[load-order="secondary"] {
  transform: translateY(25px);
  transition: transform 0.35s cubic-bezier(0.15, 0, 0.2, 1), opacity 0.35s var(--soci-ease);
}
[load-order="tertiary"] {
  transform: translateY(30px);
  transition: transform 0.4s cubic-bezier(0.15, 0, 0.35, 1), opacity 0.4s var(--soci-ease);
}
soci-route[active] [load-order],
soci-route[active] [load-order="secondary"],
soci-route[active] [load-order="tertiary"] {
  transform: translateY(0px);
  opacity: 1;
}
soci-route:not([active]):not([activating]) {
  display: none;
}
#new-user #new-user-container {
  padding: 24px 36px;
}
#post soci-comment-list {
  width: 100%;
}
#blog {
  display: block;
  overflow-x: hidden;
}
#admin-create .loading-block:not(:first-child) {
  margin-top: 40px;
}
hr {
  border: 1px solid var(--bg-secondary);
  margin-bottom: 24px;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: var(--bg-bold);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, var(--text-secondary) -1500px, transparent 1000px);
  border-radius: 7px;
  border: 3px solid var(--bg-bold);
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, var(--text-secondary-hover) -1500px, transparent 1000px);
}
@media (max-width: 768px) {
  soci-sidebar {
    left: -100%;
  }
  #pages {
    margin-left: 0;
    width: 100%;
  }
  #pages::before {
    display: none;
  }
}
@-moz-keyframes load-in {
  from {
    transform: translateY(4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes load-in {
  from {
    transform: translateY(4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes load-in {
  from {
    transform: translateY(4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes load-in {
  from {
    transform: translateY(4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes load-down {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes load-down {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes load-down {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes load-down {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
