:root
  --n0: #FFF
  --n1: hsl(120, 17%, 95%)
  --n2: hsl(0, 0%, 85%)
  --n3: hsl(160, 5%, 52%)
  --n4: hsl(195, 19%, 17%)

  --z0: #FFFFFF
  --z1: #EAEBEB
  --z2: #D6D7D8
  --z3: #C2C3C4
  --z4: #AEB0B1
  --z5: #696D70
  --z6: #3A3E41
  --z7: #2B2F33
  --z8: #1C2024
  --z9: #0D1216

  --r3: hsl(360, 92%, 40%)
  --r2: hsl(360, 99%, 60%)
  --r1: hsl(360, 100%, 70%)
  --r0: hsl(1, 100%, 80%)

  --o3: hsl(16, 100%, 57%)
  --o2: hsl(21, 100%, 60%)
  --o1: hsl(31, 100%, 60%)
  --o0: hsl(35, 100%, 83%)

  --y3: hsl(55, 73%, 47%)
  --y2: hsl(55, 79%, 54%)
  --y1: hsl(60, 78%, 65%)
  --y0: hsl(64, 85%, 87%)

  --l3: hsl(112, 100%, 20%)
  --l2: hsl(113, 100%, 31%)
  --l1: hsl(113, 75%, 52%)
  --l0: hsl(108, 87%, 75%)


  --g3: hsl(153, 100%, 25%)
  --g2: hsl(153, 100%, 31%)
  --g1: hsl(153, 75%, 52%)
  --g0: hsl(148, 87%, 75%)

  --t3: hsl(193, 100%, 35%)
  --t2: hsl(188, 100%, 42%)
  --t1: hsl(183, 100%, 46%)
  --t0: hsl(177, 100%, 79%)

  --a3: hsl(197, 100%, 32%)
  --a2: hsl(199, 100%, 43%)
  --a1: hsl(194, 100%, 48%)
  --a0: hsl(192, 100%, 75%)

  --b3: hsl(211, 79%, 35%)
  --b2: hsl(212, 75%, 47%)
  --b1: hsl(206, 88%, 57%)
  --b0: hsl(207, 91%, 77%)

  --p3: hsl(230, 49%, 40%)
  --p2: hsl(233, 42%, 51%)
  --p1: hsl(235, 57%, 66%)
  --p0: hsl(236, 63%, 80%)

  // these get dynamically updated on load, but are initially set to 0 for less initial load animations
  --anim-duration-short: 0s
  --anim-duration-med: 0s
  --anim-duration-long: 0s

  --soci-ease-in: cubic-bezier(1, 0, .85, 1)
  --soci-ease-out: cubic-bezier(.25, 0, 0, 1)
  --soci-ease: cubic-bezier(.65, 0, .35, 1)

  --soci-blog-padding: 32px
  --soci-blog-width: 920px

  --shadow-light: rgba(0,5,5,0.1)
  --shadow: rgba(0,5,5,0.2)
  --shadow-dark: rgba(0,5,5,0.3)

  --base-background: var(--z0)
  --base-background-hover: var(--base-background)
  --base-background-active: var(--base-background)
  --base-background-subtle: var(--base-background)
  --base-background-subtle-hover: var(--base-background-subtle)
  --base-background-subtle-active: var(--base-background-subtle)
  --base-background-bold: var(--base-background)
  --base-background-bold-hover: var(--base-background-bold)
  --base-background-bold-active: var(--base-background-bold)
  --base-background-inverse: var(--base-background)
  --base-background-inverse-hover: var(--base-background-inverse)
  --base-background-inverse-active: var(--base-background-inverse)

  --base-text: #000
  --base-text-hover: var(--base-text)
  --base-text-active: var(--base-text)
  --base-text-subtle: var(--base-text)
  --base-text-subtle-hover: var(--base-text-subtle)
  --base-text-subtle-active: var(--base-text-subtle)
  --base-text-bold: var(--base-text)
  --base-text-bold-hover: var(--base-text-bold)
  --base-text-bold-active: var(--base-text-bold)
  --base-text-inverse: var(--base-text)
  --base-text-inverse-hover: var(--base-text-inverse)
  --base-text-inverse-active: var(--base-text-inverse)

  --brand-background: var(--b1)
  --brand-background-hover: var(--brand-background)
  --brand-background-active: var(--brand-background)
  --brand-background-subtle: var(--brand-background)
  --brand-background-subtle-hover: var(--brand-background-subtle)
  --brand-background-subtle-active: var(--brand-background-subtle)
  --brand-background-bold: var(--brand-background)
  --brand-background-bold-hover: var(--brand-background-bold)
  --brand-background-bold-active: var(--brand-background-bold)
  --brand-background-inverse: var(--brand-background)
  --brand-background-inverse-hover: var(--brand-background-inverse)
  --brand-background-inverse-active: var(--brand-background-inverse)

  --brand-text: var(--b3)
  --brand-text-hover: var(--brand-text)
  --brand-text-active: var(--brand-text)
  --brand-text-subtle: var(--brand-text)
  --brand-text-subtle-hover: var(--brand-text-subtle)
  --brand-text-subtle-active: var(--brand-text-subtle)
  --brand-text-bold: var(--brand-text)
  --brand-text-bold-hover: var(--brand-text-bold)
  --brand-text-bold-active: var(--brand-text-bold)
  --brand-text-inverse: var(--brand-text)
  --brand-text-inverse-hover: var(--brand-text-inverse)
  --brand-text-inverse-active: var(--brand-text-inverse)

  --success-background: var(--g1)
  --success-background-hover: var(--success-background)
  --success-background-active: var(--success-background)
  --success-background-subtle: var(--success-background)
  --success-background-subtle-hover: var(--success-background-subtle)
  --success-background-subtle-active: var(--success-background-subtle)
  --success-background-bold: var(--success-background)
  --success-background-bold-hover: var(--success-background-bold)
  --success-background-bold-active: var(--success-background-bold)
  --success-background-inverse: var(--success-background)
  --success-background-inverse-hover: var(--success-background-inverse)
  --success-background-inverse-active: var(--success-background-inverse)

  --success-text: var(--g3)
  --success-text-hover: var(--success-text)
  --success-text-active: var(--success-text)
  --success-text-subtle: var(--success-text)
  --success-text-subtle-hover: var(--success-text-subtle)
  --success-text-subtle-active: var(--success-text-subtle)
  --success-text-bold: var(--success-text)
  --success-text-bold-hover: var(--success-text-bold)
  --success-text-bold-active: var(--success-text-bold)
  --success-text-inverse: var(--success-text)
  --success-text-inverse-hover: var(--success-text-inverse)
  --success-text-inverse-active: var(--success-text-inverse)

  --error-background: var(--r1)
  --error-background-hover: var(--error-background)
  --error-background-active: var(--error-background)
  --error-background-subtle: var(--error-background)
  --error-background-subtle-hover: var(--error-background-subtle)
  --error-background-subtle-active: var(--error-background-subtle)
  --error-background-bold: var(--error-background)
  --error-background-bold-hover: var(--error-background-bold)
  --error-background-bold-active: var(--error-background-bold)
  --error-background-inverse: var(--error-background)
  --error-background-inverse-hover: var(--error-background-inverse)
  --error-background-inverse-active: var(--error-background-inverse)

  --error-text: var(--r3)
  --error-text-hover: var(--error-text)
  --error-text-active: var(--error-text)
  --error-text-subtle: var(--error-text)
  --error-text-subtle-hover: var(--error-text-subtle)
  --error-text-subtle-active: var(--error-text-subtle)
  --error-text-bold: var(--error-text)
  --error-text-bold-hover: var(--error-text-bold)
  --error-text-bold-active: var(--error-text-bold)
  --error-text-inverse: var(--error-text)
  --error-text-inverse-hover: var(--error-text-inverse)
  --error-text-inverse-active: var(--error-text-inverse)

@media (prefers-color-scheme: light) 
  :root
    --base-background: var(--z0)
    --base-background-hover: var(--z1)
    --base-background-subtle: var(--z1)
    --base-background-subtle-hover: var(--z2)
    --base-background-inverse: var(--z5)
    --base-background-bold: var(--z1)

    --base-text: var(--z8)
    --base-text-subtle: var(--z5)
    --base-text-subtle-hover: var(--z8)
    --base-text-bold: var(--z9)
    --base-text-inverse: var(--z0)

    --brand-background: var(--b2)
    --brand-background-hover: var(--b3)
    --brand-background-bold: var(--b3)
    --brand-background-subtle: #1357a020
    --brand-background-subtle-hover: #1357a030
    --brand-text: var(--b2)
    --brand-text-hover: var(--b3)
    --brand-text-bold: var(--b3)

    --success-background: var(--g2)
    --success-background-subtle: #29e08e30
    --success-text: var(--g3)
    --success-text-subtle: var(--g1)

    --error-background: var(--r2)
    --error-background-subtle: #c4080830
    --error-text: var(--r2)

@media (prefers-color-scheme: dark) 
  :root
    --base-background: var(--z8)
    --base-background-hover: var(--z7)
    --base-background-subtle: var(--z7)
    --base-background-subtle-hover: var(--z6)
    --base-background-inverse: var(--z3)
    --base-background-bold: var(--z9)

    --base-text: var(--z2)
    --base-text-subtle: var(--z4)
    --base-text-subtle-hover: var(--z2)
    --base-text-bold: var(--z0)
    --base-text-inverse: var(--z9)

    --brand-background: var(--b1)
    --brand-background-hover: var(--b0)
    --brand-background-bold: var(--b0)
    --brand-background-subtle: #1357a030
    --brand-background-subtle-hover: #1357a040
    --brand-text: var(--b1)
    --brand-text-hover: var(--b0)
    --brand-text-bold: var(--b0)
  
    --success-background: var(--g1)
    --success-background-subtle: #29e08e30
    --success-text: var(--g1)

    --error-background: var(--r1)
    --error-background-subtle: #c4080830
    --error-text: var(--r1)

    --shadow-light: rgba(0,5,5,0.25)
    --shadow: rgba(0,5,5,0.8)
    --shadow-dark: rgba(0,5,5,0.6)