:root
  --n0: #FFF
  --n1: #F1F5F1
  --n2: #D8D8D8
  --n3: #7B9089
  --n4: #232F33

  --b1: #2C36A1

  --r1: #F74000

  --t1: #1FBEAC

  --o1: #FF7D4C

  --g1: #004D53

  --r3: #d20916
  --r2: #fe2029
  --r1: #ff5859
  --r0: #ffa09f

  --s3: #f62715
  --s2: #ff492b
  --s1: #ff743e
  --s0: #ffc1a6

  --o3: #ff6026
  --o2: #ff7931
  --o1: #ff9c32
  --o0: #ffdba9

  --y3: #d1c120
  --y2: #e7d72d
  --y1: #ebeb5e
  --y0: #f6fac1

  --g3: #006636
  --g2: #009c55
  --g1: #2ae08d
  --g0: #89f7bd

  --t3: #008ab0
  --t2: #00bad7
  --t1: #00dfe9
  --t0: #94fffa

  --a3: #0075a3
  --a2: #0097db
  --a1: #00bdf5
  --a0: #7ee5ff

  --b3: #1357a1
  --b2: #1e73d4
  --b1: #329ff2
  --b0: #8fc9f8

  --p3: #344496
  --p2: #4d59b6
  --p1: #7880da
  --p0: #aaaeec

  --soci-ease-in: cubic-bezier(1, 0, .85, 1)
  --soci-ease-out: cubic-bezier(.15, 0, 0, 1)
  --soci-ease: cubic-bezier(.65, 0, .35, 1)