body
  margin: 0
  display: flex
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"
  color: var(--n6)
  padding: 0 12px;

.page
  width: 100%