:root
  --n0: #FFF
  --n1: #F1F5F1
  --n2: #D8D8D8
  --n3: #7B9089
  --n4: #232F33

  --b1: #2C36A1

  --r1: #F74000
  
  --t1: #1FBEAC

  --o1: #FF7D4C

  --g1: #004D53

  --soci-ease-in: cubic-bezier(1, 0, .85, 1)
  --soci-ease-out: cubic-bezier(.15, 0, 0, 1)
  --soci-ease: cubic-bezier(.65, 0, .35, 1)