body
  margin: 0
  display: flex
  color: var(--n6)
  scrollbar-width: none
  &[dragging]
    user-select: none
input
body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"

h1:first-child
  margin-top: 0

h1, h2, h3 
  margin: 0

h1 
  font-size: 2em;

h2 
  font-size: 1.5em
  font-weight: 400
  margin-bottom: 0.5em

h3 
  font-size: 1.17em

p 
  margin: 0

button
  border: 0
  border-radius: 3px
  background: var(--b2)
  height: 20px
  color: #fff
  padding: 0 8px
  font-size: 12px
  margin-right: 4px
  cursor: pointer
  &.cancel
    background: var(--n1)
    color: var(--n4)
  &:hover
    filter: brightness(0.95)
  &:active
    filter: brightness(0.9)
    outline: 0
  &:focus
    outline: var(--b1) auto 2px

#pages
  height: 100vh
  width: calc(100vw - 280px)
  position: relative
  margin-left: 280px
  &:before
    content: ''
    position: fixed
    top: 0
    left: 280px
    height: 100vh
    width: 30px
    background: linear-gradient(90deg, rgba(0,0,0,0.15) 0px, rgba(0,0,0,0.05) 1px, transparent 4px)
    z-index: 11

#home
  svg
    color: var(--b3)
  .other-platforms-illustration
    width: 100%
    height: 300px
    border-radius: 3px
    background: var(--n2)
  #home-container
    max-width: 1200px
    margin: 0 auto
    padding: 24px 36px
  .header
    display: flex
    align-items: center
    .dash
      width: 100%
      height: 2px
      background: var(--n2)
      margin-left: 20px
    h1
      margin: 0
      margin-left: 20px
      white-space: nowrap
      transform: translateY(-2px)
    svg
      min-width: 200px
  .columns
    display: flex
    .image
      width: 100%
      height: 200px
      border-radius: 3px
      background: var(--n2)
    .column
      width: 100%
      margin-left: 20px
      &:first-child
        margin-left: 0
#user
  padding: 30px 50px
  min-width: 420px
  &[active]
    display: block
  header
    display: flex
    flex-wrap: wrap
  .hero
    margin-right: 20px
    flex: 1
    min-width: 420px
    .description
      text-align: justify
  soci-user[avatar-only]
    float: left
    margin-right: 16px
  soci-user[username-only]
    margin-bottom: 8px
  soci-input
    border: 1px solid var(--n2)
    border-radius: 3px
    min-height: 240px
  .stats
    margin-top: 40px
    .stat
      white-space: nowrap
      margin-right: 12px
      &:last-child
        margin-right: 0
    label
      font-weight: 600
  .blocks
    display: flex
    flex-wrap: wrap
    width: calc(100% + 40px)
    .block
      min-width: 240px
      width: 100%
      flex: 1
      margin-right: 40px
      margin-bottom: 20px
      &.avatar
        max-width: 420px
        flex: 1
      &.description
        min-width: 380px
        flex: 2
      &.profit
        min-width: calc(100% - 40px)
        h2
          margin-bottom: 0
        h1
          font-size: 60px
          margin: 0
          color: var(--g2)
        .actions
          justify-content: flex-start

  .cc-details 
    display: flex

  .cc-details input:first-child 
    min-width: 160px
    margin-right: 12px

  input 
    margin: 0 0 8px
    border: 0
    border-bottom: 2px solid var(--n2)
    height: 38px
    font-size: 14px
    width: 100%
    &:focus
      border-bottom: 2px solid var(--b1)
      outline: 0

  .actions
    width: 100%
    justify-content: flex-end
    display: flex
    margin-top: 8px
    button:last-child
      margin-right: 0
  h2
    margin-top: 0
  .content
    display: flex
    soci-post-list
      padding: 0
    soci-tab-group
      width: 100%
      margin-top: 12px

@media screen and (max-width: 968px) 
  #user .stats
    margin-top: 12px

#tags
  scroll-snap-type: x proximity;
  scroll-padding: 16px;
  overflow-y: hidden
  soci-column
    transform: translateY(10px)
    opacity: 0
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, margin 0.3s ease-out
    margin-right: 1px
    &:last-of-type
      margin-right: 0
  &[active]
    display: flex
    width: 100%
    height: 100vh
    overflow: auto
    soci-column
      transform: translateY(0)
      opacity: 1
      &:nth-child(2)
        transition-delay: 0.1s
      &:nth-child(3)
        transition-delay: 0.2s
      &:nth-child(4)
        transition-delay: 0.3s
      &.inserting
        opacity: 0
        margin-left: -416px

#submit-container
  max-width: 920px
  padding: 24px 40px
  margin: 0 auto
  box-sizing: border-box
  height: 100vh
  h1, h2
    padding-left: 2px
  soci-url-input
    margin-bottom: 12px
  soci-button
    margin-top: 8px
  soci-tab
    padding-top: 32px
  label
    cursor: inherit
  input
    text-decoration: inherit
    font-weight: bold
    border: none
    outline: none
    padding: 0
    font-size: 14px
    width: 100%
    background: transparent
    color: inherit
    &::placeholder 
      font-weight: normal
      text-transform: none;
      opacity: 0.5
      font-size: 14px
    &[name="title"]
      &::placeholder 
        font-size: 32px
      font-size: 32px
      margin-bottom: 24px
      padding-left: 2px
  soci-icon
    pointer-events: none
    position: absolute
    right: 2px

  .drop-area
    width: 100%
    height: 240px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    border 2px dashed var(--n2)
    box-sizing: border-box
    border-radius: 8px
    .label
      font-weight: 500
      color: var(--n3)
      margin-bottom: 12px
  soci-tab
    soci-input
      width: 100%
      height: 240px
    &[name="Blog"]
      soci-input
        height: 550px
  button
    border-radius: 14px
    height: 28px
    color: var(--n0)
    cursor: pointer
    background: var(--b3)
    border: none
    padding: 0 8px
    outline: none
    min-width: 100px
    &:active
      background: var(--b2)
  
  soci-input
    border: 2px solid var(--n2)
    border-radius: 8px


  h2
    font-weight: 500
    margin-top: 36px
    margin-bottom: 12px
  .tags
    display: grid
    grid-template-columns: repeat(3, 1fr)
    margin-bottom: 36px
    grid-column-gap: 10px
    soci-tag-input
      flex: 1
      --tag-height: 30px


soci-sidebar
  &[loading]
    opacity: 0
  input
    margin: 0 0 8px
    padding: 0 10px
    border: 0
    border-bottom: 2px solid var(--n2)
    height: 38px
    font-size: 14px
    width: 100%

  input::placeholder
    text-transform: none
    font-size: 12px

  input:focus,
  input:active
    box-shadow: none
    outline: none
    border-bottom: 2px solid var(--b1)

  button
    margin-top: 8px
    border-radius: 16px
    height: 32px
    outline: 0
    border: 0
    width: 100%
    text-align: center
    font-weight: 600
    border: 1px solid var(--n2)
    background: #fff
    cursor: pointer
    position: relative
    svg
      position: absolute
      width: 24px
      height: 24px
      left: 4px
      top: 3px
      display: none

    &:hover
      background: var(--n1)

    &[waiting] 
      svg 
        display: block

[load-order]
  transform: translateY(20px)
  opacity: 0
  transition: all 0.3s cubic-bezier(.15,0,0,1), opacity 0.3s var(--soci-ease)
[load-order="secondary"]
  transform: translateY(25px)
  transition: all 0.35s cubic-bezier(.15,0,.20,1), opacity 0.35s var(--soci-ease)
[load-order="tertiary"]
  transform: translateY(30px)
  transition: all 0.4s cubic-bezier(.15,0,.35,1), opacity 0.4s var(--soci-ease)
soci-route[active]
  [load-order]
  [load-order="secondary"]
  [load-order="tertiary"]
    transform: translateY(0px)
    opacity: 1

#new-user
  #new-user-container
    padding: 24px 36px


#post
  soci-comment-list
    width: 100%

@keyframes load-in {
  from {
    transform: translateY(4px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}