.content
  .loading-block(load-order="primary")
    h1 Change forgotten password
    p Enter your new password below. This link expires one hour after generation.
    br

  .loading-block(load-order="secondary")
    form
      soci-password(name="newPassword" placeholder="New password")
      soci-password(name="confirmPassword" match="newPassword" placeholder="Confirm new password")
      soci-button(async) submit
  .success(load-order="primary")
    h1 Password changed successfully
    p Please use the sidebar to log in.

script.
  lazyload('/pages/admin/change-forgotten-password.js', document.currentScript.closest('soci-route'))