#admin-first-time-signup
  background: var(--base-background-bold)
  height: 100%
  overflow-y: auto
  &[active]
    display: block
  .columns
    display: flex
    margin: 40px -20px 0
    width: calc(100% + 40px)
    align-items: flex-start
  .column
    border: 1px solid var(--base-background-subtle)
    border-radius: 4px
    width: 100%
    box-shadow: 0 2px 8px var(--shadow)
    background: var(--base-background)
    position: relative
    overflow: hidden
    transition: height 0.2s var(--soci-ease)
    &:first-child
      margin-right: 10px
    &.supporter[active]
      .features
        opacity: 0
        transition: all var(--anim-duration-med) var(--soci-ease)
        pointer-events: none
      .payment
        opacity: 1
        pointer-events: all
        user-select: all
        transform: translateY(0px)
  h3
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 1.4px
    font-weight: normal
    margin-top: 20px
  .features
    opacity: 1
  .payment
    box-sizing: border-box
    overflow: hidden
    position: absolute
    transition: all var(--anim-duration-med) var(--soci-ease) var(--anim-duration-short)
    padding: 10px 20px
    opacity: 0
    user-select: none
    pointer-events: none
    width: 100%
    transform: translateY(10px)
  #card-element
    border-bottom: 2px solid var(--base-background-subtle)
    height: 38px
    margin-bottom: 10px

  .price-container
    position: relative
    padding: 0 20px 10px
    border-bottom: 1px solid var(--base-background-subtle)
    soci-button
      position: absolute
      bottom: 20px
      right: 20px
  .title
    padding: 10px 20px 0
    p
      color: var(--base-text-subtle)
      height: 80px
  h2
    color: var(--base-text-bold)
    margin-bottom: 4px
  .price
    font-size: 44px
    font-weight: bold
    color: var(--brand-text)
    span
      font-size: 14px
      font-weight: normal
      color: var(--base-text-subtle)
  ul
    list-style: none
    padding: 0 20px
  li
    position: relative
    line-height: 24px
    padding-left: 20px
    &.cant
      color: var(--base-text-subtle)
      text-decoration: line-through
      &:after,
      &:before
        content: ''
        display: block
        position: absolute
        width: 10px
        height: 2px
        transform: rotate(45deg)
        left: 0
        top: calc(50% - 1px)
        background: var(--error-text)

      &:before
        transform: rotate(-45deg)
    &.can
      &:after,
      &:before
        content: ''
        display: block
        position: absolute
        width: 2px
        background: var(--success-text)
        height: 5px
        top: calc(50% - 2px)
        left: 0
        transform: rotate(-45deg);
      &:after
        height: 9px
        top: calc(50% - 5px)
        left: 4px
        transform: rotate(45deg)
  form 
    soci-button
      margin: 24px 0 8px