.content
  script(src="/pages/admin/subscribe.js")
  .loading-block(load-order="primary")
    h1 Subscription
    p Please pick your account type:

  .columns(load-order="secondary")
    .column.supporter
      .title
        h2 Supporter
        p This allows you to contribute back to the creators. You choose your subscription price, and your subscription pool is divided evenly between everything you upvote that month.
      .payment
        form#payment-form(style="user-select: none;")
          h3 Contribution
          soci-contribution-slider(name="subscriptionAmount")
          h3 Payment Info
          input(name="name" placeholder="Name")
          #card-element
          #card-element-errors(role="alert")
          soci-button.subscribe-button(async onclick="adminSubscribe.subscribe()") Subscribe
      .features
        .price-container
          .price $2-10<span>/mo</span>
          soci-button.supporter-button(async onclick="adminSubscribe.chooseSupporter()") Choose supporter
        ul
          li.can Submit posts
          li.can Upvote and fund posts
          li.can Browse and view posts
          li.can Comment on posts
          li.can Upvote and downvote comments
    .column 
      .title
        h2 Free
        p Everyone starts somewhere. Even if you don't contribute monetarily, you can still shower the creators with praise in the comments!
      .features
        .price-container
          .price $0<span>/mo</span>
          soci-button.free-button(async subtle onclick="adminSubscribe.chooseFree()") Choose free
        ul
          li.cant Submit posts
          li.cant Upvote and fund posts
          li.can Browse and view posts
          li.can Comment on posts
          li.can Upvote and downvote comments
    