.content.info-page
  .loading-block(load-order="primary")
    h1 About Non.io
    p Non.io is a personal project of Jacob Miller (aka jjcm or @pwnies on Twitter). You can alos contact me at j@jjcm.org. 

    h2 Open Source 
    p The site is currently open source. You can find the repos at <a href="https://github.com/jjcm/nonio">github.com/jjcm/nonio</a>. Bug reports can be sent to the issue tracker in that project. 

    h2 Other Info
    soci-link(href="about/privacy-policy") <a>Privacy policy</a>
    <br/>
    soci-link(href="about/contact") <a>Contact us</a>