.content.info-page
  .loading-block(load-order="primary")
    h1 Contact
    p You can get ahold of Jacob (the site owner) the following ways:
    ul 
      li Email: <a href="mailto:j@jjcm.org">j@jjcm.org</a>
      li Twiter: <a href="https://twitter.com/pwnies">@pwnies</a>
      li Nonio: <soci-link href="/user/jjcm"><a>jjcm</a></soci-link>
