.content.info-page
  .loading-block(load-order="primary")
    h1 Privacy Policy
    p Non.io collects and stores the information provided upon signup. We also store standard nginx logs, which include IP address and browser information. We also store avatars and user submitted content. None of this information is sold or shared with third parties.

    h2 Billing Information
    p All billing information is stored by Stripe. Nonio stores cryptogrpahic hashes of your Stripe subscription and your Stripe account ID. Nonio does not store any credit card information or addresses on file. For personalized payouts not using Stripe, additional contact information may be stored. 

    h2 Passwords
    p Nonio stores a cryptographic hash of your password using the bcrypt algorithm. We do not store passwords in plain text.

    h2 Tracking
    p Nonio uses server side logging. We currently do not use frontend tracking, nor is any of your information sent to third parties (with the exception of Stripe for financial data). We don't sell user data, nor do we use ad targetting or tracking.

    h2 Account Deletion
    p Curently there's no account deletion, not by design, I just haven't gotten to it yet. If you want to delete your account, ping me at j@jjcm.org or at @pwnies on Twiter. Account deletion will be best effort when done manually, with this as a goal: 
    h3 What will be removed:
    ul
      li User info (email, password, etc)
      li Avatar
      li Submitted posts and related media
      li Stripe metadata
    h3 What won't be removed 
    ul 
      li Server logs
      li Comment content. Comments will be set to "abandoned" and will be disassociated from your username, but the content will remain to preserve discussion.

    h2 Location of Data 
    p Main servers are currently located in the United States. Elements of the site may be cached by edge servers around the world. 

    h2 Guarantees
    p Non.io makes no guarantees regarding uptime, payouts, accuracy of monetary transfers, or timeliness. We are very much in startup phase. 

    h2 Point of Contact
    p If you need to contact us for any reason, ping Jacob at j@jjcm.org or at @pwnies on Twitter.