.content
  .loading-block(load-order="primary")
    h1 We all forget sometimes &lt;3
    p Enter your email below. If it exists, we'll send you an email with a password reset link.

  .loading-block(load-order="secondary")
    input(type="text" placeholder="email")
    soci-button(async) submit

script.
  lazyload('/pages/admin-forgot-password.js', document.currentScript.closest('soci-route'))