blog-hero-2
blog-hero-1
blog-hero-3
blog-text
blog-image
blog-two-column
blog-image-full
blog-text
blog-quote-2(align="right" invert image="stallman")
blog-quote-2(align="center" invert image="stallman")
blog-text
blog-quote-1
blog-text
blog-text
blog-text
blog-text


<blog-quote-2>
    <div slot="quote">With software there are only two possibilites: either the users control the programme or the programme controls the users. If the programme controls the users, and the developer controls the programme, then the programme is an instrument of unjust power.</div>
    <div slot="attribution">Richard Stallman</div>
    <img slot="image" src="https://image.non.io/stallman.webp">
</blog-quote-2>


