#home-container
  script(src="pages/home.js")
  h1 Home / Landing page

  h2 registration test
  label(for="email") Email
  input(id="email" type="email")
  label(for="password") Password
  input(id="password" type="password")
  button#register Register


  soci-link(href="qwer1234") test