#home-container
  script(src="pages/home.js")
  h1 Home / Landing page

  //-
    #login-container
      h2 login test
      label(for="email") Email
      input(id="email" type="email")
      label(for="password") Password
      input(id="password" type="password")
      button#login Login

    #registration
      h2 registration test
      label(for="email") Email
      input(id="email" type="email")
      label(for="password") Password
      input(id="password" type="password")
      button#register Register


  h1 Non.io - A platform for creators
  p We live in a world where content platforms aren't built for creators, they're built for advertisers. Platforms will always cater towards the customer who pays, which leads to platforms that don't have the viewer or the creators in mind. Youtube demonetizes videos, Spotify pays the music labels, and Instagram/Reddit simply share your content for free.
  p Nonio aims to change that through three simple ways:
  ol 
    li You choose what things get rewarded.
    li No ads, ever.
    li Fully open source - if non.io ever fucks up, you can make a clone of it overnight.