#new-user-container
  h1 New user

  soci-username-input
  label(for="email") Username
  input(id="username")

  label(for="email") Email
  input(id="email" type="email")

  label(for="password") Password
  input(id="password" type="password")

  label(for="password") Confirm Password
  input(id="password" type="password")

  button#register Register