#submit-container
  form(action="#")
    .load-group(load-order="primary")
      input(type="text" name="title" placeholder="Enter title")
      soci-url-input(name="url" required tabindex=0)
    
    .load-group(load-order="secondary")
      soci-tab-group
        soci-tab(name="Image" default)
          soci-file-drop(type="image")
          h2 Description
          soci-input(placeholder="Enter description" name="description")

        soci-tab(name="Video")
          soci-file-drop(type="video")
          h2 Description
          soci-input(placeholder="Enter description")
            
        soci-tab(name="Audio")
          soci-file-drop(type="audio")
          h2 Description
          soci-input(placeholder="Enter description")

        soci-tab(name="Blog")
          soci-input(placeholder="Write your best" name="description")

        soci-tab(name="HTML")
          soci-file-drop(type="html")
    

    .load-group(load-order="tertiary")
      soci-button(async) submit

script.
  soci.lazyload('/pages/submit.js', document.currentScript.closest('soci-route'))
  

    

