#submit-container
  h1 Submit post
  .url
    label(for="path") http://non.io/
    input#path(type="text" placeholder="post-url" spellcheck="false")
    soci-icon
    .error
  
  .tabs
    .tab(active) Image
    .tab Video
    .tab Audio
    .tab Blog
  
  soci-tab-group
    soci-tab(name="Image" active)
      h1 Im an image
    soci-tab(name="Video")
      h1 Im an vid

  .drop-area
    .label drag image here
    button select image

  h2 Description
  soci-input(placeholder="Enter description")

  h2 Tags
  .tags
    soci-tag-input
    soci-tag-input
    soci-tag-input

  button submit

script(src="pages/submit.js")
  

    

