#submit-container
  form(action="#")
    #submit-header.load-group(load-order="primary").centered-container
      input(type="text" name="title" placeholder="Enter title" required)
      soci-url-input(name="url" required tabindex=0)
    
    .load-group(load-order="secondary")
      soci-tab-group
        .centered-container
          soci-tab(name="Image" default)
            soci-image-uploader
            h2 Description
            soci-input(placeholder="Enter description" name="description")

          soci-tab(name="Video")
            soci-video-uploader
            h2 Description
            soci-input(placeholder="Enter description" name="description")
              
          soci-tab(name="Audio")
            soci-file-drop(type="audio")
            h2 Description
            soci-input(placeholder="Enter description" name="description")

          soci-tab(name="Blog")
            soci-input(placeholder="Write your best" name="description")

        soci-tab(name="HTML")
          soci-html-uploader
          .centered-container
            h2 Description
            soci-input(placeholder="Enter description" name="description")
    

    #submit-actions.load-group(load-order="tertiary").centered-container
      soci-button(async) submit

script.
  lazyload('/pages/submit.js', document.currentScript.closest('soci-route'))
  

    

