#submit
  h1 Submit post
  .url-container
    label http://non.io/
    input(type="text" placeholder="  post url")
    soci-icon(glyph="spinner")
    soci-icon(glyph="error")
    soci-icon(glyph="success")
  

    

