#submit-container
  form(action="#")
    .load-group(load-order="primary")
      soci-radial-progress(percent="25")
      soci-radial-progress(percent="50")
      soci-radial-progress(percent="75")
      soci-radial-progress(percent="100")
      soci-radial-progress(percent="30" waiting)
      input(type="text" name="title" placeholder="Enter title")
      soci-url-input(name="url" required tabindex=0)
    
    .load-group(load-order="secondary")
      soci-tab-group
        soci-tab(name="Image")
          soci-file-drop(type="image")
          h2 Description
          soci-input(placeholder="Enter description" name="description")

        soci-tab(name="Video" default)
          soci-video-uploader
          h2 Description
          soci-input(placeholder="Enter description")
            
        soci-tab(name="Audio")
          soci-file-drop(type="audio")
          h2 Description
          soci-input(placeholder="Enter description")

        soci-tab(name="Blog")
          soci-input(placeholder="Write your best" name="description")

        soci-tab(name="HTML")
          soci-file-drop(type="html")
    

    .load-group(load-order="tertiary")
      soci-button(async) submit

script.
  lazyload('/pages/submit.js', document.currentScript.closest('soci-route'))
  

    

