#submit-container
  h1 Submit post
  .url
    label(for="path") http://non.io/
    input#path(type="text" placeholder="post-url" spellcheck="false")
    soci-icon
    .error
  
  soci-tab-group
    soci-tab(name="Image")
      soci-file-drop(type="image")
      //
        .drop-area
          .label drag image here
          label(for="file") select video
          input#file(type="file" accept="video/*") 
      h2 Description
      soci-input(placeholder="Enter description")

    soci-tab(name="Video" default)
      .drop-area
        .label drag video here
        input#file(type="file" accept="video/*") 
      h2 Description
      soci-input(placeholder="Enter description")
        
    soci-tab(name="Audio")
      .drop-area
        .label drag track or here
        input(type="file" accept="audio/*") 
      h2 Description
      soci-input(placeholder="Enter description")

    soci-tab(name="Blog")
      soci-input(placeholder="Write your best")

    soci-tab(name="HTML")
      .drop-area
        .label drag zip of webpage
        button select zip
  

  h2 Tags
  .tags
    soci-tag-input
    soci-tag-input
    soci-tag-input

  button(onclick="submit.submit()") submit

script(src="pages/submit.js")
  

    

