#submit-container
  h1 Submit post

  soci-tag-group

  form
    input(type="text" name="asdf")
    soci-url-input(name="url" required tabindex=0)
    
    soci-tab-group
      soci-tab(name="Image" default)
        soci-file-drop(type="image")
        h2 Description
        soci-input(placeholder="Enter description" name="description")

      soci-tab(name="Video")
        soci-file-drop(type="video")
        h2 Description
        soci-input(placeholder="Enter description")
          
      soci-tab(name="Audio")
        soci-file-drop(type="audio")
        h2 Description
        soci-input(placeholder="Enter description")

      soci-tab(name="Blog")
        soci-input(placeholder="Write your best")

      soci-tab(name="HTML")
        soci-file-drop(type="html")
    

    h2 Tags
    .tags
      soci-tag-input(required name="tag" tabindex=0)
      soci-tag-input(tabindex=0)
      soci-tag-input(tabindex=0)

    button(onclick="submit.submit()") submit

script.
  soci.lazyload('/pages/submit.js', document.currentScript.closest('soci-route'))
  

    

