#submit-container
  h1 Submit post
  .url
    label(for="path") http://non.io/
    input#path(type="text" placeholder="post-url" spellcheck="false")
    soci-icon
    .error
  
  soci-tab-group
    soci-tab(name="Image")
      .drop-area
        .label drag image(s) here
        button select image(s)
      h2 Description
      soci-input(placeholder="Enter description")

    soci-tab(name="Video")
      .drop-area
        .label drag video here
        button select video
      h2 Description
      soci-input(placeholder="Enter description")
        
    soci-tab(name="Audio")
      .drop-area
        .label drag track or album here
        button select file
      h2 Description
      soci-input(placeholder="Enter description")

    soci-tab(name="Blog")
      soci-input(placeholder="Write your best")

    soci-tab(name="HTML")
      .drop-area
        .label drag zip of webpage
        button select zip
  

  h2 Tags
  .tags
    soci-tag-input
    soci-tag-input
    soci-tag-input

  button submit

script(src="pages/submit.js")
  

    

