header(load-order="primary")
  .hero
    soci-user(size="x-large" name="pwnies")
    .subtitle Conjurer for Deep Design and Theoretical Ideas
  .money
    .title $4,269
    .label current earnings
    .up  +2.5%

  .subscribers
    .title 1.8k
    .label subscribers
    .up  +0.4%

.content(load-order="secondary")
  .col
    .col-header
      soci-icon(glyph="tags")
      | My Posts
    soci-post-list(data="/posts")
  .col
    .col-header
      soci-icon(glyph="comments")
      | Comments
    soci-post-list(data="/posts")

script(src="/pages/user.js")