.loading-block(load-order="primary")
  h1 Thanks for choosing to sign up
  p By being a part of nonio, you're choosing to support artists, musicians, writers, and creators of all types. We're excited to have you, and we look forward to seeing what you create as well.

.loading-block(load-order="secondary")
  h2 A couple things you should know
  p It's too early on to have an EULA, but the basics of what we stand for are as follows:
  h3 We wont track you or sell your data to advertisers
  p Nonio is funded by you, not by ad supported revenue. That's what $1 of your subscription goes to - to providing a high quality service that we don't have to support by selling your info. Our aim is to provide a high quality user experience. We don't believe adding trackers or slowing down our site with ads is the way to do that.
  h3 You own your content 
  p We aren't allowed to use it without permission. However we reserve the right to feature thumbnails of your content in screenshots / promotions. 
  h3 We're in beta, we aren't responsible if everything blows up
  p By we I mean me. It's just myself, jjcm, running things. As a solo project I can't guarantee the servers wont explode tomorrow. There are no uptime guarantees here.
  h3 Your financials are handled by Stripe
  p While nonio is in beta, Stripe definitely isn't. Your payment info is never stored on nonio's servers. It's secure in the hands of Stripe. 

.loading-block(load-order="tertiary")
  h2 FAQs
  h3 Why aren't there free accounts like reddit/instagram/etc? 
  p I have to pay for bandwidth and servers somehow. The choices are either subscription services or ad supported funding. Personally I believe that a subscription services is the lesser of two evils, for a few reasons. The first is around knowing who my customer is. With a subscription service, you are my customer. I tailor all of my experiences to the demands of the user. With an ad supported service you aren't the customer, you are the product. Ad providers are the customer and you have to build a platform to their demands. We see major issues with this model in Youtube, where videos are demonetized because they don't meet the demands of the advertisers. I want nonio to be built with you in mind, not with advertisers demands taking priority.
  h3 Why do I have to contribute to creators? Can I just pay the $1? 
  p Nonio would be nothing without creators. The point of the platform is to fund their creativity. In addition, it means that your vote is worth something. When you're choosing to upvote a post, you're saying that this item is deserving of a slice of your pool of contribution. This means other things you've voted on will get a smaller percentage of your pool as well, so you have to vote with a conscience. A picture of a cat may not be worthy of a percentage of your pool when you've previously voted up a high quality piece of investigative journalism. The hope is that this leads to higher quality content that gets surfaced, rather than surfacing wide-appeal-but-low-effort content like r/all on reddit.