.sidebar(load-order="primary")
  .hero
    soci-user(size="large" avatar-only)
    soci-user(size="large" username-only)
    .description(value="description")
  .self-actions
    soci-button(subtle)
      svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M7 2.5L1.5 8C0.767767 8.73223 0.767767 9.76777 1.5 10.5C2.23223 11.2322 3.26777 11.2322 4 10.5L9.5 5L10.75 1.25L7 2.5Z" stroke="currentColor")
        path(d="M2 7.5L4.5 10" stroke="currentColor")
        path(d="M7 2.5L9.5 5" stroke="currentColor")
      | edit profile

    soci-button(subtle)
      svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M7.5 2.9V4.5H2.5V2.9C2.5 1.57452 3.61929 0.5 5 0.5C6.38071 0.5 7.5 1.57452 7.5 2.9Z" stroke="currentColor")
        rect(x="0.5" y="4.5" width="9" height="7" rx="1.5" stroke="currentColor")
        circle(cx="5" cy="8" r="0.75" fill="currentColor")
      | view financials
  .stats
    .stat 
      label Posts
      .value(value="posts")
    .stat 
      label Post Karma
      .value(value="karma")
    .stat 
      label Comments
      .value(value="comments")
    .stat 
      label Comment Karma
      .value(value="comment_karma")



.content(load-order="secondary")
  header
    .sorts
      .sort(selected) Popular
      .sort New
    .types
      .type(selected) Posts
      .type Comments

  .inner-content
    soci-post-list
//
  soci-tab-group
    soci-tab(name="Posts" default) 
      soci-post-list.my-posts
    soci-tab(name="Comments")
      soci-comment-list.my-comments(data="/posts")
    soci-tab(name="Settings" style="display: none")
      .blocks
        .block.avatar
          h2 Avatar
          soci-avatar-uploader
        .block.description
          h2 Description
          soci-input(placeholder="Enter description")
          .actions
            button save
            button(class="cancel") cancel
        .block.password
          h2 Change Password
          form
            soci-password(name="oldPassword" placeholder="Old password")
            soci-password(name="newPassword" placeholder="New password")
            soci-password(name="confirmPassword" match="newPassword" placeholder="Confirm new password")
            .actions
              soci-button(async) submit
              soci-button(subtle) cancel
    soci-tab(name="Financials" style="display: none")
      .blocks
        .block.profit
          h2 Post Profit
          h1 $
          .actions
            button withdrawal
        .block.billing
          h2 Billing Info
          p Your subscription fee will first be paid by your post profit. Your card will only be charged the remaining amount, if it exists.
          form
            input(placeholder="Credit Card Name")
            input(placeholder="Credit Card Number")
            .cc-details
              input(placeholder="Exp. Date")
              input(placeholder="CCV")
            .actions
              button save
              button(class="cancel") cancel
        .block.bank
          h2 Withdrawl Location
          p This is the account that money will be deposited in once you choose to withdrawl your post profit.
          form.change-password
            input(placeholder="Bank Name")
            input(placeholder="Routing No.")
            input(placeholder="Account No.")
            .actions
              button save
              button(class="cancel") cancel

script(src="/pages/user.js")