#why-webcomics
  script(src="/pages/why-webcomics.js")
  style.
    #why-webcomics {
      padding: 40px;
      font-size: 16px;
      line-height: 1.5;
    }
    #why-webcomics .posts {
      background: var(--base-background-bold);
      padding: 10px 10px 2px;
      border-radius: 8px;
      margin-bottom: 12px;
    }
    #why-webcomics .user {
      margin-bottom: 12px;
    }

    #why-webcomics img {
      max-width: 1200px;
      width: 100%;
    }

    #why-webcomics .users {
      margin-bottom: 20px;
      align-items: center;
      display: flex;
    }
    #why-webcomics .user {
      display: flex;
      margin-right: 80px;
      font-size: 24px;
      font-weight: bold;
    }
    #why-webcomics .user[payout] {
      color: var(--success-text);
    }
    #why-webcomics .user soci-user {
      --avatar-size: 32px;
      --font-size: 24px;
      --line-height: 30px;
      --spacing: 12px;
      margin-right: 20px;
    }
    #why-webcomics .prompt:after {
      content: '<-- CLICK ONE OF THESE';
      font-weight: bold;
      color: var(--error-text);
    }
    #why-webcomics .prompt[upvoted]:after {
      content: 'GREAT WORK. CHECK OUT THE PAYOUTS BELOW';
      color: var(--success-text);
    }
    

  .header(load-order="primary")
    <svg width="200" viewBox="0 0 94 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.5 0.999999V15H10.84L3.86 6.5V15H0.66V0.999999H3.34L10.3 9.5V0.999999H13.5ZM29.2564 15.24C27.8031 15.24 26.4897 14.9267 25.3164 14.3C24.1564 13.6733 23.2431 12.8133 22.5764 11.72C21.9231 10.6133 21.5964 9.37333 21.5964 8C21.5964 6.62667 21.9231 5.39333 22.5764 4.3C23.2431 3.19333 24.1564 2.32667 25.3164 1.7C26.4897 1.07333 27.8031 0.76 29.2564 0.76C30.7097 0.76 32.0164 1.07333 33.1764 1.7C34.3364 2.32667 35.2497 3.19333 35.9164 4.3C36.5831 5.39333 36.9164 6.62667 36.9164 8C36.9164 9.37333 36.5831 10.6133 35.9164 11.72C35.2497 12.8133 34.3364 13.6733 33.1764 14.3C32.0164 14.9267 30.7097 15.24 29.2564 15.24ZM29.2564 12.48C30.0831 12.48 30.8297 12.2933 31.4964 11.92C32.1631 11.5333 32.6831 11 33.0564 10.32C33.4431 9.64 33.6364 8.86667 33.6364 8C33.6364 7.13333 33.4431 6.36 33.0564 5.68C32.6831 5 32.1631 4.47333 31.4964 4.1C30.8297 3.71333 30.0831 3.52 29.2564 3.52C28.4297 3.52 27.6831 3.71333 27.0164 4.1C26.3497 4.47333 25.8231 5 25.4364 5.68C25.0631 6.36 24.8764 7.13333 24.8764 8C24.8764 8.86667 25.0631 9.64 25.4364 10.32C25.8231 11 26.3497 11.5333 27.0164 11.92C27.6831 12.2933 28.4297 12.48 29.2564 12.48ZM57.8555 0.999999V15H55.1955L48.2155 6.5V15H45.0155V0.999999H47.6955L54.6555 9.5V0.999999H57.8555ZM66.8319 0.999999H70.0719V15H66.8319V0.999999ZM85.8384 15.24C84.3851 15.24 83.0718 14.9267 81.8984 14.3C80.7384 13.6733 79.8251 12.8133 79.1584 11.72C78.5051 10.6133 78.1784 9.37333 78.1784 8C78.1784 6.62667 78.5051 5.39333 79.1584 4.3C79.8251 3.19333 80.7384 2.32667 81.8984 1.7C83.0718 1.07333 84.3851 0.76 85.8384 0.76C87.2918 0.76 88.5984 1.07333 89.7584 1.7C90.9184 2.32667 91.8318 3.19333 92.4984 4.3C93.1651 5.39333 93.4984 6.62667 93.4984 8C93.4984 9.37333 93.1651 10.6133 92.4984 11.72C91.8318 12.8133 90.9184 13.6733 89.7584 14.3C88.5984 14.9267 87.2918 15.24 85.8384 15.24ZM85.8384 12.48C86.6651 12.48 87.4118 12.2933 88.0784 11.92C88.7451 11.5333 89.2651 11 89.6384 10.32C90.0251 9.64 90.2184 8.86667 90.2184 8C90.2184 7.13333 90.0251 6.36 89.6384 5.68C89.2651 5 88.7451 4.47333 88.0784 4.1C87.4118 3.71333 86.6651 3.52 85.8384 3.52C85.0118 3.52 84.2651 3.71333 83.5984 4.1C82.9318 4.47333 82.4051 5 82.0184 5.68C81.6451 6.36 81.4584 7.13333 81.4584 8C81.4584 8.86667 81.6451 9.64 82.0184 10.32C82.4051 11 82.9318 11.5333 83.5984 11.92C84.2651 12.2933 85.0118 12.48 85.8384 12.48Z" fill="currentColor"></path>
    </svg>
    .dash
    h1 A platform for creators (and hopefully hiveworks artists)
    p Heya Hiveworks peeps. I'm <a href="https://github.com/jjcm">Jake</a>, and I'm making a site I think you may be interested in. Nonio is a subscription site where your subscription is split evenly between everything you upvote that month. Think of it like Patreon meets reddit.
    br
    p A quick demo might be easier to understand. Lets say your subscription is $10 a month to the site. I take $1 to run the site, <strong>the remaining $9 is your contribution pool</strong>.
    br
    p Go ahead and upvote some posts below (click a tag to upvote) to see how your contribution would be distributed:
    br
  .loading-block(load-order="secondary")
    .posts
      soci-post-li(score="32" comments="0" title="Space Law!" type="image" time="1612676474000" url="rendezvous")
        soci-user(name="fakezach" slot="user")
        soci-tag-group(slot="tags" score="32").prompt
          soci-tag(score="32") webcomic
          soci-tag(score="28") space
          soci-tag(score="11") smbc
      soci-post-li(score="234" comments="0" title="Emulating France" type="image" time="1612465555550" url="france")
        soci-user(name="fakekelly" slot="user")
        soci-tag-group(slot="tags" score="234")
          soci-tag(score="212") webcomic
          soci-tag(score="32") smbc
          soci-tag(score="10") comic
      soci-post-li(score="148" comments="0" title="Getting computer scientists to make a schedule" type="image" time="1612346474000" url="negative")
        soci-user(name="adude" slot="user")
        soci-tag-group(slot="tags" score="148")
          soci-tag(score="112") programming-humor
          soci-tag(score="52") webcomic
          soci-tag(score="10") comic
          soci-tag(score="0") funny
    .outputs
      h2 Payouts
      .users
        #fakezach.user
          soci-user(name="fakezach")
          .amount $0
        #fakekelly.user
          soci-user(name="fakekelly")
          .amount $0
        #adude.user
          soci-user(name="adude")
          .amount $0
  .loading-block(load-order="tertiary")
    h2 Pretty simple right?
    p These posts are sortable and ranked just like you'd see on reddit:
    <img src="https://i.imgur.com/8mQJ4PV.png"/>
    p The nice thing about this is it means a.) it surfaces quality things to the top (since you wont just upvote a picture of a cat if it detracts from what you'll pay out to something better), and b.) there's more discoverability than sites like Patreon. I find the issue with per-user subscription sites (i.e. patreon or onlyfans for the dirtier of you) is that it forces the creator to stick to a cadence. You have to continuously output or your base will wonder if their dedicated subscription is worth it. In addition, there's no virality. Your audience is only as big as your base when you release. With Nonio, your audience is the entire site always. All content is viewable, but only the good stuff gets rewarded.
    br
    p Also, it's open source and ad free. That means there will always be a high quality experience, and if not someone can clone it tomorrow. 
    br 
    p I'm aiming to release this in the next couple months (I have images / videos / blogs working now, just need to finish the billing / payout bits). If you're interested in participating in the beta, <strong>I'll be paying the subscription fee for the first 100 creators</strong>. You get to distribute $5 per month of my money! I need creators to make this work, so if you're interested, add your details to the spreadsheet here and I'll contact you once I go live: 
    br 
    p <a href="https://docs.google.com/spreadsheets/d/1RIAbBb-Xp8w40xU69NPshpJYqUleF6KjVAJ5iIdn8Fg/edit?usp=sharing">sign up here</a>
    br 
    p Thanks for taking the time to look at what I've been working on for the last 2 years in my spare time. It means a lot. If you want to contact me in any way, here are my deets: j@jjcm.org / +610431128292 / jjcms on telegram / @jjcms on insta 